.wrapper{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    background-color: rgb(100, 17, 235);
    color: aliceblue;
}

.box{
    background-color: black;
    color: aliceblue;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

